<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>gu.Farmart.auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>gu.Farmart</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>635795365010-5t15uihj08vfebvvhdj07vqm07uif3il.apps.googleusercontent.com</string>
</dict>
</plist>
